
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://images.pexels.com/photos/172292/pexels-photo-172292.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center/cover;
    
}

.accordion{
    border-radius: 30px;
    width: 65%;
    background-color: white;
    padding: 0 20px;
}

.accordion-title{
    margin-bottom: 30px;
    text-align: center;
}

.question{
    padding: 18px 0;
    border-bottom: 1px solid black;
    position: relative;
    font-size: 22px;
    cursor: pointer;
}

.question::after{
    content: "+";
    position: absolute;
    right: -5px;
}

.content-container .answer{
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;

    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.content-container.active .answer{
    height: 150px;
}

.content-container.active .question{
    font-size: 18px;
    transition: 0.5s;
}

.content-container.active .question::after{
    content: "-";
    font-size: 30px;
    transition: 0.5s;
}